push.bat
TestResult.xml
build
build35
artifacts
obj
bin
deploy
deploy/*
*.csproj.user
_ReSharper.*
*.[Rr]e[Ss]harper.user
src/FubuMVC.*.ReSharper
*.DotSettings.user
*.suo
*.cache
~$*
*.stresult
.fubu-alias
.fubu-includes
.fubu-manifest
pak*.zip
test.db
*.userprefs
*.pidb
*.DS_Store
test-results
spark.zip
deployment/bottles/*.zip
FubuTestAppRoot
deployment
lib/bottles/FubuMVC*.*
lib/**/*.nupkg
.links
packaging/release
*.swp
output
output/*
*.dotCover
src/packages
src/packages/repositories.config
results
*.dbmdl